<%
const authUserWishList = (
  data.authUser
  ? data.wishLists.find(x => x.owner_user_id === data.authUser.id)
  : null
);
%>
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
  <title>FWL - <%= data.collection.name %></title>
</head>

<%- include('../partials/header') %>

<h2><%= data.collection.name %></h2>

<%
if (authUserWishList) {
  %>
  <a href="/wishLists/<%= authUserWishList.id %>">
    Your Wish List
  </a>
  <%
}
else {
  %>
  <form name="createWishListForm" method="post" action="/wishLists/create">
    <input type="hidden" name="collectionID" value="<%= data.collection.id %>" />
    <input type="submit" value="Create Your Wish List" />
  </form>
  <%
}
%>

<ul>
<%
for (const wishList of data.wishLists) {
  if (wishList === authUserWishList) {
    continue;
  }
  %>
  <li>
    <a href="/wishLists/<%= wishList.id %>">
      <%= wishList.owner_user_first_name %>
    </a>
  </li>
  <%
}
%>
</ul>

<%- include('../partials/footer') %>