<%
// find and move auth user's wish list to top
let authUserWishList;
const orderedWishLists = [];
for (const wishList of data.wishLists) {
  if (wishList.owner_user_id === data.authUser.id) {
    authUserWishList = wishList;
    orderedWishLists.unshift(wishList);
  }
  else {
    orderedWishLists.push(wishList);
  }
}
%>
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
  <title>FWL / <%= data.collection.name %></title>
</head>

<%- include('../partials/header') %>

<h2><%= data.collection.name %></h2>

<%
if (!authUserWishList) {
  %>
  <form name="createWishListForm" method="post" action="/collections/<%= data.collection.id %>/createWishList">
    <input type="submit" value="Create Your Wish List" />
  </form>
  <%
}
%>

<ul>
<%
for (const wishList of orderedWishLists) {
  %>
  <li>
    <a href="/wishLists/<%= wishList.id %>">
      <%=
      wishList === authUserWishList
      ? 'Your Wish List'
      : wishList.owner_user_first_name
      %>
    </a>
  </li>
  <%
}
%>
</ul>

<%- include('../partials/footer') %>