<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
  <title>FWL</title>
  
  <script>
    <%- include('../partials/script.js') %>
    
    /**
     * @param {number|string} itemId 
     * @param {boolean} isFulfilled 
     */
    async function setWishListItemFulfilled(itemId, isFulfilled) {
      setItemStatus(itemId, '...');
      
      try {
        await wishListItemUpdater.setCovered(itemId, true, isFulfilled);
      }
      catch(err) {
        console.error(err);
        setItemStatus(itemId, 'Oops, something went wrong. Please try again latter.');
        return;
      }
      
      setItemStatus(itemId, '');
    }
    
    /**
     * @param {number|string} itemId 
     * @param {string} status 
     */
    function setItemStatus(itemId, status) {
      const itemStatusSpan = document.getElementById(`itemStatusSpan${itemId}`);
      itemStatusSpan.innerText = status;
    }
  </script>
</head>

<%- include('../partials/header') %>

<h3>Gifts Checklist</h3>
<p>These are the gifts that you said you are going to get. Once you get the item, you can check it off.</p>

<ul>
  <%
  for (const coveredCollection of data.coveredCollections) {
    %>
    <li>
      <a href="/collections/<%= coveredCollection.id %>">
        <%= coveredCollection.name %>
      </a>
      
      <ul>
        <%
        /**
         * @param {object} coveredItem
         */
        function coveredItemPartial(coveredItem) {
          %>
          <li>
            <input
              type="checkbox"
              <% if (coveredItem.is_fulfilled) { %>checked<% } %>
              id="itemCheckbox<%= coveredItem.id %>"
              onChange="setWishListItemFulfilled('<%= coveredItem.id %>');"
            />
            <a href="/wishLists/<%= coveredItem.wish_list_id %>#item<%= coveredItem.id %>">
              <%= coveredItem.name %>
            </a>
            <span id="itemStatusSpan<%= coveredItem.id %>"></span>
          </li>
          <%
        }
        
        if (coveredCollection.has_single_wish_list) {
          for (const coveredItem of coveredCollection.covered_wish_lists[0].covered_items) {
            coveredItemPartial(coveredItem);
          }
        }
        else {
          for (const coveredWishList of coveredCollection.covered_wish_lists) {
            %>
            <li style="margin-top: 10px;">
              <span>
                <a href="/wishLists/<%= coveredWishList.id %>">
                  <%= coveredWishList.owner_user_first_name %>
                </a>
              </span>
              
              <ul>
                <%
                for (coveredItem of coveredWishList.covered_items) {
                  coveredItemPartial(coveredItem);
                }
                %>
              </ul>
            </li>
            <%
          }
        }
        %>
      </ul>
    </li>
    <%
  }
  %>
</ul>

<%- include('../partials/footer') %>