<%
callbackQueryString = data.callbackUrl? `?callbackUrl=${encodeURIComponent(data.callbackUrl)}` : ''
%>

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
  <title>FWL - Reset Password</title>
</head>

<%- include('../partials/header') %>

<h2>Reset Password</h2>

<form name="resetPasswordForm" method="post" action="/resetPassword<%= callbackQueryString %>">
 	<table>
		<tr>
			<td><label for="email">Email:</label></td>
			<td><input type="email" name="email" value="<%= data.email %>" required="required" /></td>
		</tr>
		<tr>
			<td><label for="password">New Password:</label></td>
			<td><input type="password" name="password" required="required" /></td>
		</tr>
		<tr>
			<td><label for="passwordConfirm">New Password Again:</label></td>
			<td><input type="password" name="passwordConfirm" required="required" /></td>
		</tr>
	</table>
	
	<input type="submit" value="Reset Password" /><br />
	<span id="formErrorMessage"><%= data.formErrorMessage %></span>
	<br>
	<a href="/register<%= callbackQueryString %>">Register</a>
</form>
<t:footer />